ion-icon {
    font-size: 74px;
  }

  .divp{
    //center button add image, and adding padding to div's
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center; 
    }

// Title, center 
.title{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

