<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      Adding Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adding Recipes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="title">
    <ion-title>Add Your Own Recipe !</ion-title>
  </div>

  <div class="divp">
    <ion-button  expand="block" color="secondary" (click)="takePicture()"><ion-icon name="camera"></ion-icon></ion-button>
    <ion-img [src]="recipeImage"></ion-img>
  </div>
  
  
  <ion-item>
    <ion-label position="floating">Recipe Name:</ion-label>
    <ion-input type="text" [(ngModel)]="recipeName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description:</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cal amount:</ion-label>
    <ion-input type="number" [(ngModel)]="calories"></ion-input>
  </ion-item>

  <!--add ingredients-->
  <!-- <ion-list> -->
  <!--  <ion-list-header> -->
  <!--    Ingredients -->
  <!--  </ion-list-header> -->
  <!--  <ion-item *ngFor="let ingredient of ingredients; let i = index"> -->
  <!--   <ion-label position="floating">Ingredient {{i + 1}}</ion-label> -->
  <!--    <ion-input type="text" [(ngModel)]="ingredient.name"> -->
  <!--    </ion-input> -->
  <!--    <ion-button size=""  slot="end" (click)="removeIngredient(i)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button> -->
  <!-- </ion-item> -->
  <!-- </ion-list> -->
  <!-- <ion-button  color="secondary" (click)="addIngredient()">Add Ingredient</ion-button> -->
  <!--end of ingredients-->
  
  <div class="divp">
    <ion-button color="secondary" expand="block" (click)="onAddRecipe()">Add To Recipes</ion-button>
  </div>
  
</ion-content>


