<ion-header>
  <ion-toolbar>
    <ion-title>Adding Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-title>Add Your Own Recipe !</ion-title>
  </div>

  <div class="divp">
    <ion-button  expand="block" color="secondary" (click)="takePicture()"><ion-icon name="camera"></ion-icon></ion-button>
    <ion-img [src]="recipeImage"></ion-img>
  </div>
  
  
  <ion-item>
    <ion-label position="floating">Recipe Name:</ion-label>
    <ion-input type="text" [(ngModel)]="recipeName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description:</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cal amount:</ion-label>
    <ion-input type="number" [(ngModel)]="calories"></ion-input>
  </ion-item>
  
  <div class="divp">
    <ion-button color="secondary" expand="block" (click)="onAddRecipe()">Add To Recipes</ion-button>
  </div>
  
</ion-content>


