<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ recipe.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- recipe-details.component.html -->
<ion-content *ngIf="recipe">
  <ion-card>
    <img [src]="recipe.image" [alt]="recipe.name" />
    <ion-card-header>
      <ion-card-title>{{ recipe.name }}</ion-card-title>
      <ion-card-subtitle>{{ recipe.calories }} CAL</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ recipe.description }}</p>
    </ion-card-content>

    <h2>INGREDIENTS NEEDED</h2>
    <ion-list *ngIf="recipe?.ingredients">
      <ion-item *ngFor="let ingredient of recipe.ingredients">
        <ion-label>{{ ingredient }}</ion-label>
      </ion-item>
      <div class="centerBTN">
        <ion-button color="secondary" (click)="addAllIngredientsToShoppingList()">
          Add to List
        </ion-button>
      </div>
    </ion-list>

    <ion-card-content>
      <p>{{ recipe.instructions }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

