<!--
<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content class="ion-padding">

  <!--Logo-->
  <!--I used a div to center the image-->
  <div class="imgCon">
  <ion-img
  class="logo" src="assets/logo.png" alt="logo"
  ></ion-img>
</div>
  
  <!--I used div because ion-item has a diffrent style and i do not want to title to have a grey background.-->
  <div class="titleCon">
    <!--Title of page-->
  <ion-label class="title">Log In</ion-label>
  </div>
  
  <ion-item >
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-button  expand="block" (click)="login()">Login</ion-button>
</ion-content>

