ion-content {
    --ion-background-color: #fbf3f2; /* Background color of the page */
  
    ion-item {
      border-radius: 15px; 
      margin-top: 10px; 
      margin-bottom: 20px;
      color: #fbf3f2;
    --ion-background-color: #9d9fa6; /*box color*/
    }

    .title, .titleCon{
        text-align: center;
        color: #032539;
        font-size: 40px;  
    }

    .singUp{
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
    }

}

